################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cielo/obj
/Cielo/bin/Debug/netstandard2.0
/Cielo.Models/obj
/Cielo.Models/bin/Debug/netstandard2.0
/CieloTestsCore/obj
/CieloTestsCore/bin/Debug/netcoreapp2.0
/Cielo/bin/Debug/netstandard2.1
/Cielo.Models/bin/Debug/netstandard2.1
/packages/System.Runtime.CompilerServices.Unsafe.4.7.1
/Cielo_48/obj/Debug
/Cielo_48/bin/Debug
/Cielo_461/obj/Debug
/Cielo_461/bin/Debug
/Cielo_45/obj/Debug
/Cielo_45/bin/Debug
/CieloTestsCore/bin/Debug/netcoreapp3.1
/Cielo.Models_48/obj/Debug
/Cielo.Models_48/bin/Debug
/Cielo.Models_461/obj/Debug
/Cielo.Models_461/bin/Debug
/Cielo.Models_45/obj/Debug
/Cielo.Models_45/bin/Debug
/Cielo.Models_461/obj/Release
/Cielo.Models_461/bin/Release
/Cielo.Models_45/obj/Release
/Cielo.Models_45/bin/Release
/Cielo.Models/bin/Release/netstandard2.1
/Cielo/bin/Release/netstandard2.1
/Cielo_48/obj/Release
/Cielo_48/bin/Release
/Cielo_461/obj/Release
/Cielo_461/bin/Release
/Cielo_45/obj/Release
/Cielo_45/bin/Release
/CieloTestsCore/bin/Release/netcoreapp3.1
/Cielo.Models_48/obj/Release
/Cielo.Models_48/bin/Release
/Cielo.Models_471/bin/Release
/Cielo.Models_471/obj/Release
/Cielo_471/bin/Release
/Cielo_471/obj/Release
/packages
